* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  place-items: center;
}

.menu {
  display: grid;
  place-items: center;
  gap: 1em;
}

.btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.body {
  display: grid;
  gap: 2em;
}

.container {
  outline: 2px solid #000;
  width: 500px;
  height: 500px;
  display: grid;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: .3em;
  align-items: center;
}

.cells {
  outline: 1px solid #000;
}